# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Virtual environments
env/
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment variables
.env

# VSCode & PyCharm settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Model files (optional)
*.pkl
*.h5
*.joblib
app/data/creditcard.csv
